# Python
__pycache__/
*.py[cod]
*$py.class
venv312/
venv/
.env

# Node / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
frontend/dev-dist/
.DS_Store

# IDEs
.vscode/
.idea/

# Project Specific
data/
temp_*

# Build Artifacts
build/
dist/
*.spec

# SSL / Binaries
mkcert
mkcert.exe
*.pem
*.key

# Logs
*.log
TRACE.txt

# Testing
.pytest_cache/

# OS / Installers
*.dmg
*.pkg
.DS_Store
