@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}